.articleHotSection .container {
	width: calc(100% + 60px);
	justify-content: center;
	align-items: stretch;
	margin: 0px -15px;
	padding: 15px 0px;
	flex-wrap: wrap;
}

.articleHotSection .bigArticle {
	display: flex;
	flex-basis: calc(70% - 60px);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 15px;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	border-radius: var(--radius-big);
	cursor: pointer;
}

.articleHotSection .bigArticle .background .shadow {
	background-color: rgba(0, 0, 0, 0.5);
}

.articleHotSection .bigArticle:hover .background {
	transform: scale(1.05);
}

.articleHotSection .bigArticle .title {
	position: relative;
	font-family: var(--font-secondary);
	font-weight: 700;
	font-size: max(min(3em, 3vw), 2em);
	color: var(--light);
	max-width: 700px;
	margin: 30px;
	z-index: 1;
}

.articleHotSection .bigArticle .btn {
	position: relative;
	max-width: 250px;
	max-height: 60px;
	min-width: 200px;
	min-height: 50px;
	width: 30vw;
	height: 5vw;
	font-weight: 500;
	margin-bottom: 25px;
	z-index: 1;
}

.articleHotSection .smallArticles {
	min-height: 400px;
	flex-basis: calc(30% - 60px);
	min-width: 300px;
	position: relative;
	border-radius: var(--radius-big);
	flex-direction: column;
	justify-content: stretch;
	align-items: flex-start;
	margin: 7.5px 15px;
	flex-grow: 1;
}

.articleHotSection .smallArticles > .title {
	background-color: var(--bg-middle);
	border-radius: var(--radius-small);
	font-size: 1.125em;
	color: var(--bg-semi-dark);
	padding: 4px 16px;
	z-index: 1;
	margin: 30px 0px;
}

.articleHotSection .smallArticle {
	display: flex;
	height: 20vw;
	flex-basis: 250px;
	width: 100%;
	margin: 7.5px 0px;
	border-radius: var(--radius-big);
	overflow: hidden;
	position: relative;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}

.articleHotSection .smallArticle:hover .background {
	transform: scale(1.05)
}

.articleHotSection .smallArticle .time {
	font-size: 0.75em;
	font-weight: 600;
	opacity: 0.3;
	width: 100%;
	z-index: 2;
	justify-content: flex-start;
	padding: 12px 12px 6px 12px;
}

.articleHotSection .smallArticle .title {
	font-size: 1.125em;
	font-family: var(--font-secondary);
	font-weight: 600;
	width: 100%;
	box-shadow: 0px -20px 20px 20px var(--bg-light-tr);
	background-color: var(--bg-light-tr);
	justify-content: flex-start;
	padding: 6px 12px 12px 12px;
	z-index: 1;
}

@media(max-width: 600px) {
	.articleHotSection .bigArticle .title {
		text-align: center;
	}
}