.articleListItem {
	display: flex;
	overflow: hidden;
	flex-basis: calc(25% - 30px);
    min-width: 300px;
	height: 300px;
	margin: min(15px, 2vw) 15px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
	border-radius: var(--radius-big);
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	cursor: pointer;
    flex-grow: 1;
    position: relative;
}

.articleListItem:hover .background {
	transform: scale(1.01);
}

.articleListItem .title {
	position: relative;
	width: 100%;
	padding: 0px 15px;
	color: var(--dark);
	font-size: 1.5em;
	font-weight: 600;
	justify-content: flex-start;
	z-index: 2;
}

.articleListItem .time {
	position: relative;
	width: 100%;
	padding: 12px 12px 6px 12px;
	color: var(--dark);
	font-size: 0.75em;
	font-weight: 500;
	justify-content: flex-start;
	opacity: 0.3;
	z-index: 2;
}

.articleListItem .title {
	position: relative;
	width: 100%;
	color: var(--dark);
	font-weight: 600;
	font-size: 1.125em;
	justify-content: flex-start;
	z-index: 1;
	box-shadow: 0px -10px 20px 40px var(--bg-light-tr);
	background-color: var(--bg-light-tr);
	justify-content: flex-start;
	padding: 6px 12px 12px 12px;
	z-index: 1;
}