html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   outline: none;
}

html {
   height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: flex;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

strong {
   font-weight: bold;
}

input {
   outline: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

img {
   border: 0;
   object-fit: cover;
}

html {
   overflow-x: hidden;
}

a {
   text-decoration: none;
}

* {
   -webkit-touch-callout: none;
   -webkit-text-size-adjust: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: nowrap;
   overflow: scroll;
   hyphens: auto;
   word-break: break-word;
   min-width: 300px;
}

div,
form,
section,
header,
footer,
nav {
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
}

.app {
   width: 100%;
   min-height: 100%;
   position: absolute;
   align-items: flex-start;
}