:root {
    --font-logo: darkline;
    --font-main: dmsans;
    --font-secondary: montserrat;
    --bg-white: white;
    --bg-light: #F9FAFC;
    --bg-light-tr: rgba(249, 250, 252, 0.95);  
    --bg-semi-light: #EBEEF3;
    --bg-middle: #E1E8F0;
    --bg-semi-dark: #B8C2CE;
    --bg-dark: #262626;
    --light: white;  
    --semi-light: #EBEEF3;
    --middle: #E1E8F0;
    --semi-dark: #B8C2CE;
    --dark: #262626;
    --radius-big: 6px;
    --radius-small: 3px;
}

@font-face {
    font-family: darkline;
    src: url(assets/fonts/Darkline.ttf);
    font-display: swap;
}

@font-face {
    font-family: dmsans;
    src: url(assets/fonts/DMSans.ttf);
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url(assets/fonts/Montserrat.ttf);
    font-display: swap;
}