footer {
    width: 100%;
    z-index: 20;
    height: 15vw;
    max-height: 90px;
    min-height: 60px;
    align-items: center;
    max-width: 100%;
    background: var(--bg-middle);
    padding: 15px;
}

footer .container {
    width: 100%;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    max-width: max(min(1330px, 90vw), 500px);
    flex-wrap: nowrap;
}

footer .logo {
    font-size: 2em;
    font-family: var(--font-logo);
}