header {
    width: 100%;
    z-index: 20;
    height: 15vw;
    max-height: 90px;
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    max-width: 100%;
    background: var(--bg-white);
    padding: 15px;
}

header .container {
    width: 100%;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    max-width: max(min(1330px, 90vw), 500px);
    flex-wrap: nowrap;
}

header .logo {
    font-size: 3em;
    font-family: var(--font-logo);
}

header ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header ul li {
    padding: 10px;
    font-weight: 600;
}

@media(max-width: 600px) {
	header ul {
		display: none;
	}
}