.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-light);
}

.rotator {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.rotator div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--middle);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--middle) transparent transparent transparent;
}

.rotator div:nth-child(1) {
    animation-delay: -0.45s;
}

.rotator div:nth-child(2) {
    animation-delay: -0.3s;
}

.rotator div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}