.loginPopup {
    flex-direction: column;
    justify-content: space-around;
    background: var(--light);
    border-radius: var(--radius-big);
    min-width: 300px;
    flex-basis: 350px;
    padding: 50px 0px;
    z-index: 2;
}

.loginPopup .title {
    font-size: 1.25em;
    margin-bottom: 30px;
    font-family: var(--font-primary);
    font-weight: 600;
}

.loginPopup form {
    flex-direction: column;
    width: calc(100% - 60px);
    height: 100%;
    margin: 15px;
}

.loginPopup input {
    width: 100%;
    height: 35px;
    border-radius: var(--radius-small);
    border: solid 1px var(--semi-dark);
    margin-bottom: 10px;
    font-size: 1em;
}

.loginPopup .text {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.loginPopup .btn {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    font-weight: 500;
    background-color: var(--bg-middle);
    border-radius: var(--radius-small);
    color: var(--dark);
    z-index: 1;
}