.mainLayout {
   width: 100%;
   min-height: 100vh;
   flex-direction: column;
   justify-content: space-between;
   color: var(--dark);
   background: var(--bg-light);
}

body * {
   word-wrap: normal;
   box-sizing: border-box;
   -webkit-touch-callout: none;
   -webkit-text-size-adjust: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   font-family: var(--font-main);
   color: var(--black);
}

.content {
   margin: auto;
   max-width: max(min(1330px, 90vw), 500px);
   margin-top: min(90px, 20vw);
   margin-bottom: min(100px, 10vw);
   flex-direction: row;
   width: 100%;
}

main {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   flex-grow: 1;
   max-width: 100%;
   flex-basis: 70%;
}

section {
   padding: 0px 15px;
   width: 100%;
}

section .container {
   margin: max(min(4vw, 50px), 15px) 0px;
   width: 100%;
}

a {
   color: var(--dark);
   transition: 0.2s;
}

.a:hover {
   text-decoration: underline;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   font-size: 1em;
   transition: .2s;
   border-radius: 10px;
   text-align: center;
}

.btn:hover {
   transform: scale(1.05);
}

.btn-light-tr {
   color: var(--light);
}

.background {
   position: absolute;
   width: 100%;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   transition: .4s;
   z-index: 0;
}

.background .shadow {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
}

.section .container {
   margin: max(min(4vw, 50px), 15px) 0px;
   width: 100%;
}

.section:first-child>.container:first-child {
   margin-top: min(max(15px, 3vw), 30px);
}

.section .title {
   text-align: left;
   display: unset;
   font-weight: 600;
   font-size: max(min(1.75em, 3vw), 1.25em);
   margin-bottom: 0px;
}

.section .subtitle {
   text-align: left;
   display: unset;
   margin-top: min(3vw, 10px);
   font-weight: 600;
   font-size: max(min(1.125em, 3vw), 1em);
   opacity: 0.5;
}

.caption {
   justify-content: space-between;
   align-items: center;
}

.caption .block {
   flex-grow: 1;
   flex-direction: column;
}

.caption .block:first-child {
   align-items: flex-start;
}

.caption .block:last-child {
   align-items: flex-end;
}

.caption .title {
   font-size: max(min(2.25em, 3vw), 1.75em);
   font-weight: 600;
   text-align: center;
   margin-bottom: 0px;
}

.caption .subtitle {
   font-size: max(min(1.25em, 3vw), 1.125em);
   text-align: center;
   max-width: 80%;
   margin: 15px -5px -5px -5px;
}

.caption .subtitle a {
   margin: 5px;
   background-color: var(--bg-middle);
   border-radius: var(--radius-small);
   color: var(--semi-dark);
   padding: 4px 16px;
   z-index: 1;
}

.caption .btn {
   font-weight: 500;
   background-color: var(--bg-middle);
   border-radius: var(--radius-small);
   color: var(--dark);
   padding: 4px 16px;
   z-index: 1;
}

@media(max-width: 600px) {
   .caption .subtitle {
      display: none;
   }
}