.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 30;
}

.popup .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 1;
}